.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scl {
    font-size: 25px;
    text-decoration: double;
    background-color: orange;
    padding: 5px 5px;
    border-radius: 10px;
    color: blue;
}

.arr {
    font-size: 20px;
}